.cia {
    color: green;
}
#li1, #li2, #li3 {
    color: red
}
.parent > p {
    color: black;
    font-size: 14pt;
}
h1, h2 {
    font-family: Georgia;
    text-align: center;
}
a {
    text-decoration: none;
}
.uppercase {
    text-transform: uppercase;
}
a:hover {
    text-decoration: underline;
}
img {
    float: left;
    margin: 25px;
    border: 5px solid green;
}

