h1 > ul {
list-style: none;
text-align: center;
background-image: url(https://image.winudf.com/v2/image1/Y29tLmhkZmxhZ3MudW5pdGVkYXJhYmVtaXJhdGVzLndhbGxwYXBlci5pbWFnZXNfc2NyZWVuXzRfMTU4OTc3MjQ0Nl8wODY/screen-4.jpg?fakeurl=1&type=.jpg);
background-size: 100% 100%;
color: white;
padding:10px;
bottom: 32px;
position: relative;
}
#myid {
    color: rgb(10, 121, 10)
}
body {
    background-image: url(https://images.unsplash.com/photo-1518684079-3c830dcef090?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    }
    .topnav {
        background-color: rgb(150, 32, 32);
        overflow: hidden;
        position: relative;
        bottom: 64px;
        }
    .topnav a {
        color: whitesmoke;
        font-size: 20px;
        font-style: oblique;
        text-align: center;
        text-decoration: none;
        padding: 106px;
    }
    .topnav a.active {
        color: whitesmoke;
        background-color: green;
    }
    .topnav a:hover {
        color: black;
        background-color: rgb(23, 201, 23);
    }
    #dubai {
        text-align: center;
        color: rgb(3, 58, 3);
        font-style: oblique;
        font-size: 150px;
        position: relative;
        bottom: 150px;
        text-shadow: 7px 7px 7px rgb(6, 214, 6);
    }
    #img {
        width: 120px;
        height: 200px;
        float: left;
        border: 8px groove rgb(6, 248, 6);
        padding: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    div {
        background-color: rgb(214, 225, 230);
        width: 30%;
        height: 340px;
        /*overflow-y: auto;
        overflow-x: hidden;*/
        margin: 50px;
        border: 1px solid black;
        border-top: 15px solid green;
        border-bottom: 15px solid black;
        border-left: 20px solid red;
        padding: 5px;
        display: inline-table;
        position: relative;
        bottom: 200px;
        left: 140px;
    }
    /*.last-div {
        position: absolute;
        top: 800px;
        left: 471px;
    }*/
    h3 {
        font-family: tangerine;
        font-size: 30px;
        text-shadow: 4px 4px 4px green;
    }
    table, th, tr, td {
        border: 2px solid black;
        border-collapse: collapse;
        margin: auto ;
        /*background-color: white;*/
        width: 100%;
        text-align: center;
        padding: 30px;
        }
    span {
        position: relative;
        top:250px
    }
    caption {
        color: black;
        font-size: 100px;
        font-family: tangerine;
        text-shadow: 4px 4px 4px yellow;
    }
    tr:nth-child(even) {
        background-color: white;
    }
    tr:nth-child(odd) {
        background-color: rgb(203, 214, 221);
    }
    tr:hover {
        background-color: rgb(226, 131, 131);
        
    }
    footer {
        color: whitesmoke;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    #my-table {
        position: relative;
        bottom: 300px;
    }
    